{% extends 'admin/base.html.twig' %}

{% block title %}Tutoriel : {{ country.name }}{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}

    <a href="{{ path('tutorial_create', {'slugContinent': continent.slug, 'slugCountry': country.slug}) }}">Ajouter une partie de tutoriel {{ country.name }}</a>

{% endblock %}
