{% extends 'admin/base.html.twig' %}

{% block title %}Tutoriel : {{ country.name }}{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}

    <h1>oe voilà le tuto de la france</h1>

{% endblock %}
