@import '../global/style.scss';


header {
  position: relative;
  z-index: 3;
  text-shadow: 1px 1px 10px black,
  0 0 50px #000000;
}

main span, main p {
  font-size: 1.5rem;
}

.section-banner {
  height: 600px;
  position: absolute;
  top: 0;
  border-bottom: solid 8px black;
  overflow: hidden;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;

}

.section-explain {
  margin: 550px auto 0 auto;
  width: 75%;
}

.country-name {
  color: white;
  font: {
    family: $font-family;
    size: 5rem;
    weight: bold;
  }
  text-shadow: 1px 1px 50px black,
  0 0 60px #000000;
  z-index: 2;
  white-space: nowrap;
  text-align: center;
  top: 80%;
}

.h1-identify {
  color: white;
  font: bold 3rem $font-family;
  margin-bottom: 5rem;
}

.article-explain {
  margin-bottom: 8rem;
}

@media screen and (max-width: 768px) {
  main span, main p {
    font-size: 0.9rem;
  }
  .country-name {
    font-size: 2rem;
  }
  .h1-identify {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  p {
    font-size: 1rem;
  }
  .article-explain {
    margin: 0 auto 4rem auto;
  }
  .section-banner {
    height: 300px;
    border-bottom: solid 4px black;
  }
  .section-explain {
    margin: 250px auto 0 auto;
    width: 90%;
  }
}
