/*FONTS*/
/*BACKGROUND*/
/*TEXT*/
/* MIXIN */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(19, 19, 37);
}

span, p {
  color: white;
  font-family: "Montserrat";
  font-size: 1.5rem;
}

ul {
  list-style-type: disc;
  color: white;
}

.w-95 {
  width: 95%;
}

.w-80 {
  width: 80%;
}

.error {
  color: #b10909;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: bold;
}

/* HEADER */
.nav-img-logo {
  margin-left: 1.8rem;
  width: 7%;
}
@media screen and (max-width: 768px) {
  .nav-img-logo {
    width: 10%;
    margin-left: 1rem;
  }
}

.nav-a-text {
  color: white;
  text-decoration: none;
  margin-left: 3rem;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .nav-a-text {
    font-size: 1.5rem;
    margin-left: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .nav-a-text {
    font-size: 1.3rem;
    margin-left: 1rem;
  }
}
.nav-a-text:hover {
  color: #04FF00;
}
.nav-a-text::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #04FF00;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}
.nav-a-text:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.div-img-profile {
  width: 4rem;
  height: 4rem;
}
@media screen and (max-width: 768px) {
  .div-img-profile {
    width: 3rem;
    height: 3rem;
  }
}

.nav-a-connection {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .nav-a-connection {
    font-size: 1.5rem;
  }
}
.nav-a-connection img {
  margin-right: 0.6rem;
  width: 2rem;
}
@media screen and (max-width: 768px) {
  .nav-a-connection img {
    width: 1.5rem;
  }
}

.user-username {
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .user-username {
    font-size: 1.5rem;
  }
}

.custom-dropdown {
  padding: 1rem;
  border-radius: 1rem;
  border: solid 1px #5D5D5D;
  background-color: #131325;
  z-index: 50000;
  margin-top: 5rem;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}

.custom-dropdown.show {
  transform: scale(1);
  opacity: 1;
}

.custom-dropdown-item {
  color: white;
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}
@media screen and (max-width: 768px) {
  .custom-dropdown-item {
    font-size: 1.3rem;
  }
}
.custom-dropdown-item:hover {
  background-color: rgb(52, 52, 62);
  box-shadow: 0 0 10px rgba(52, 52, 62, 0.8);
}

.custom-dropdown-item:nth-of-type(2) {
  color: #ff0000;
}

/* FOOTER */
footer {
  background-color: white;
  margin-top: 5rem;
}

.footer-li {
  list-style-type: none;
  margin-right: 1.2rem;
  width: 15%;
  height: 100%;
}

.footer-a {
  text-decoration: none;
  color: rgb(32, 32, 42);
  font-family: "Montserrat";
  font-size: 9rem;
  font-weight: 900;
}
@media screen and (max-width: 768px) {
  .footer-a {
    font-size: 5rem;
  }
}
@media screen and (max-width: 480px) {
  .footer-a {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=base.css.map */
