@import 'global/style.scss';

.section-info {
  width: 85%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.div-img-logo {
  width: 8rem;
  height: 8rem;
  margin-right: 2rem;
}


.profile-info-email {
  color: rgba(255, 255, 255, 0.6);
  font-size: 2rem;
}

.profile-info-username {
  color: $text-light-color;
  font-size: 3rem;
}

.form-button-update {
  @include button-style;
  background-color: $background-accent-color;
  color: $text-dark-color;
  border: 2px solid $background-accent-color;
  font-size: 1.5rem;
}

.form-button-delete {
  @include button-style;
  background-color: #ff0000;
  color: $text-dark-color;
  border: 2px solid #ff0000;
  font-size: 1.5rem;
}

.label-profile-info {
  color: $text-light-color;

  font: {
    family: $font-family;
    size: 1.7rem;
    weight: bold;
  }
}

.input-profile-info {
  border: solid 0.1rem transparent;
  border-radius: 0.9rem;
  padding: 0.9rem;
  background-color: $background-light-color;

  font: {
    family: $font-family;
    size: 1.2rem;
    weight: bold;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 3px $background-accent-color;
  }
}

input[type="file"]::file-selector-button {
  @include file-button-style;
  background-color: white;
  color: black;
}


.line {
  background-color: $background-light-color;
  border: 0;
  height: 0.2rem;
  width: 105%;
  position: relative;
  left: -2.5%;
}

@media screen and (max-width: 768px) {
  .form-button-update,
  .form-button-delete {
    font-size: 1rem;
    padding: 0.4rem;
  }
  .profile-info-email,
  .profile-info-username {
    font-size: 1.5rem;
  }
  .div-img-logo {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
  }
  .input-profile-info {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .label-profile-info {
    font-size: 1.2rem;
  }
}