@import '../../global/style';

.h1-reply {
  padding: 2rem;
  color: $text-light-color;
  font: {
    family: $font-family;
    weight: bold;
    size: 2.5rem;
  }
}


.message-reply {
  height: 300px;
  resize: none;
  margin-bottom: 2rem;
  border: solid 2px $background-accent-color;
  border-radius: 1rem;
  color: rgba(255, 255, 255, 0.75);
  font: {
    family: $font-family;
    weight: normal;
    size: 1.5rem;
  }
  background-color: transparent;
  outline: none;
}


.image-reply {
  font: {
    family: $font-family;
    weight: 400;
    size: 1rem;
  }
  color: $text-accent-color;
  background-color: transparent;
  border: solid 2px $background-accent-color;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  transition: ease background-color 0.2s, ease color 0.2s;

  &:hover {
    color: $text-dark-color;
    background-color: $background-accent-color;
  }
}


.button-publish {
  font: {
    family: $font-family;
    weight: 400;
    size: 1.5rem;
  }
  color: #4da8da;
  background-color: transparent;
  border: solid 2px #4da8da;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  transition: ease background-color 0.2s, ease color 0.2s;

  &:hover {
    color: $text-dark-color;
    background-color: #4da8da;
  }

}

@media screen and (max-width: 768px) {
    .h1-reply {
        font-size: 2rem;
    }
    .message-reply {
        font-size: 1.2rem;
    }
    .image-reply {
        font-size: 1.2rem;
    }
    .button-publish {
        font-size: 1.2rem;
    }
}