{% extends 'public/base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('assets/public/css/authentication/login.css') }}">

{% endblock %}


{% block body %}

    <main class="container-fluid d-flex justify-content-center align-items-center flex-grow-1">

        <form action="{{ path('login_user') }}" method="POST" class="form-connection m-auto col-10 col-lg-6 mt-5 mb-5">

            <div class="text-center pt-4">
                <img src="{{ asset('assets/img/authentication/utilisateur.png') }}"
                     alt="Image d'un bonhomme connexion">
            </div>


            <h1 class="form-h1-connection text-center mt-4">Se connecter</h1>

            <div class="w-75 m-auto mt-4">
                <label for="email" class="label-connection form-label d-block text-start">Email</label>
                <input type="email" name="_username" class="input-connection email p-3 w-100" placeholder="Entrez votre email"/>
            </div>

            <div class="w-75 m-auto mt-4">
                <label for="password" class="label-connection form-label d-block text-start">Mot de passe</label>
                <input type="password" name="_password" class="input-connection password p-3 w-100" placeholder="Entrez votre mot de passe"/>
            </div>

            <button type="submit" class="button-connection d-block m-auto mt-4 p-1">Se connecter</button>

            <div class="text-center mt-4 pb-4">
                <span class="span-to-inscription">Pas de compte ? <a href="{{ path('signup') }}">Créer un compte</a></span>
            </div>

        </form>

    </main>

{% endblock %}