{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <main>

        <h1>Dashboard amin</h1>

    </main>

{% endblock %}