html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(19, 19, 37);
}

span, p {
  color: white;
  font : {
    family: 'Montserrat';
    size: 1.5rem;

  }
}

ul {
  list-style-type: disc;
  color: white;
}