/*FONTS*/
$font-family: 'Montserrat';

/*BACKGROUND*/
$background-dark-color: #131325FF;
$background-light-color: white;
$background-accent-color: #04FF00;

/*TEXT*/
$text-light-color: white;
$text-dark-color: #131325FF;
$text-accent-color: #04FF00;