@import '../../../global/style';

.h1-update-reply {
  padding: 2rem;
  color: white;
  font: {
    family: 'Montserrat';
    weight: bold;
    size: 2.5rem;
  }
}


.message-post {
  height: 300px;
  resize: none;
  margin-bottom: 2rem;
  border: solid 2px #04FF00;
  border-radius: 1rem;
  color: rgba(255, 255, 255, 0.75);
  font: {
    family: 'Montserrat';
    weight: normal;
    size: 1.5rem;
  }
  background-color: transparent; /* Retire la couleur de fond par défaut */
  outline: none;
}


.image-post {
  font: {
    family: 'Montserrat';
    weight: 400;
    size: 1rem;
  }
  color: #04FF00;
  background-color: transparent;
  border: solid 2px #04FF00;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  transition: ease background-color 0.2s, ease color 0.2s;

  &:hover {
    color: #20202A;
    background-color: #04FF00;
  }
}


.button-publish {
  font: {
    family: 'Montserrat';
    weight: 400;
    size: 1.5rem;
  }
  color: #4da8da;
  background-color: transparent;
  border: solid 2px #4da8da;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  transition: ease background-color 0.2s, ease color 0.2s;

  &:hover {
    color: #20202A;
    background-color: #4da8da;
  }

}
