{% extends 'admin/base.html.twig' %}

{% block title %}Liste des continents{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}

    <main class="container py-5">

        <a href="{{ path('continent_create') }}" class="btn btn-primary btn-sm me-2">Ajouter un continent</a>

        {% if continents|length > 0 %}
            <ul class="list-group mt-4">
                {% for continent in continents %}
                    <li class="list-group-item bg-dark text-light d-flex justify-content-between align-items-center rounded-3">
                        <div>
                            <h3 class="mb-2">{{ continent.name }}</h3>
                        </div>
                        <div class="d-flex">
                            <a href="{{ path('continent_update', {'id': continent.id}) }}" class="btn btn-warning btn-sm me-2">Modifier</a>
                            <a href="{{ path('continent_delete', {'id': continent.id}) }}" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce continent ?')">Supprimer</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-center mt-4">Aucun continent trouvé.</p>
        {% endif %}
    </main>

{% endblock %}
