@import '../global/style';

.form-inscription {
  background-color: $background-accent-color;
  border: solid 0.3rem black;
  box-shadow: rgb(0, 0, 0) -0.5rem 0.3rem;
  border-radius: 1rem;
}

.form-h1-inscription {
  font: {
    family: $font-family;
    size: 2rem;
    weight: bold;
  }
}


.label-inscription {
  font: {
    family: $font-family;
    size: 1.3rem;
    weight: bold;
  }
}

.input-inscription {
  border: solid 0.3rem $background-dark-color;
  background-color: #C4FFC3;
  border-radius: 4rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  font: {
    family: $font-family;
    size: 1.1rem;
    weight: bold;
  }

  &:focus {
    outline: none;
    transform: scale(1.05);
  }
}

.button-inscription {
  width: 25%;
  border: solid 0.2rem $background-dark-color;
  box-shadow: rgba(0, 0, 0, 0.307) -0.3rem 0.1rem;
  background-color: #fff;
  border-radius: 4rem;

  font: {
    family: $font-family;
    size: 1.4rem;
    weight: bold;
  }

  &:hover {
    background-color: $background-dark-color;
    color: $text-light-color;
  }
}

.span-to-connection {
  color: $text-dark-color;
  font: {
    family: $font-family;
    size: 1rem;
    weight: bold;
  }

  a {
    color: $text-dark-color;
    text-decoration: underline;

  }

}

@media screen and (max-width: 768px) {
  .form-inscription {
    width: 90%;
    margin: 0 auto;
  }

  .form-h1-inscription {
    font-size: 1.5rem;
  }

  .label-inscription {
    font-size: 1rem;
  }

  .input-inscription {
    font-size: 0.9rem;
  }

  .button-inscription {
    font-size: 1rem;
    width: 50%;
  }

  .span-to-connection  {
    font-size: 0.8rem;
  }
}




