/*FONTS*/
/*BACKGROUND*/
/*TEXT*/
/* MIXIN */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(19, 19, 37);
}

span, p {
  color: white;
  font-family: "Montserrat";
  font-size: 1.5rem;
}

ul {
  list-style-type: disc;
  color: white;
}

.w-95 {
  width: 95%;
}

.w-80 {
  width: 80%;
}

.error {
  color: #b10909;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .error {
    font-size: 0.7rem;
  }
}

.div-title-reply {
  border: solid 2px white;
  border-radius: 1.25rem;
}

.topic-title {
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2rem;
}

.reply-button {
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  position: relative;
  top: 0;
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.1s ease-in-out;
  font-family: "Montserrat";
  font-weight: bold;
  background-color: #04FF00;
  color: #131325;
  border: 2px solid #131325;
  font-size: 1.5rem;
}
.reply-button:hover {
  top: 3px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.4);
}

.list-topics-button {
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  position: relative;
  top: 0;
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.1s ease-in-out;
  font-family: "Montserrat";
  font-weight: bold;
  background-color: white;
  color: #131325;
  border: 2px solid #131325;
  font-size: 1.5rem;
}
.list-topics-button:hover {
  top: 3px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.4);
}

.div-topic-reply {
  border: solid 2px white;
  border-radius: 2.1rem;
}

.div-img-profile {
  width: 4rem;
  height: 4rem;
}

.post-user-username {
  color: white;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.7rem;
}

.post-date {
  color: white;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.7rem;
}

.post-content {
  color: white;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.5rem;
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.div-img-user-post {
  border-radius: 1rem;
  max-width: 500px;
}

.divider-user-message {
  background-color: white;
  border: 0;
  height: 0.2rem;
}

.divider-reply {
  background-color: white;
  border: 0;
  height: 0.1rem;
  opacity: 1;
}

.button-update {
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  position: relative;
  top: 0;
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.1s ease-in-out;
  font-family: "Montserrat";
  font-weight: bold;
  background-color: #ffa500;
  color: #131325;
  border: 2px solid #131325;
  font-size: 1rem;
}
.button-update:hover {
  top: 3px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.4);
}

.button-delete {
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  position: relative;
  top: 0;
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.1s ease-in-out;
  font-family: "Montserrat";
  font-weight: bold;
  background-color: #ff0000;
  color: #131325;
  border: 2px solid #131325;
}
.button-delete:hover {
  top: 3px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.4);
}

.no-reply {
  color: #a80707;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .topic-title {
    font-size: 1.5rem;
  }
  .reply-button {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .post-date {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.6);
  }
  .post-content {
    font-size: 1rem;
  }
  .button-delete,
  .button-update {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}

/*# sourceMappingURL=show.css.map */
