@import '../../global/style';

.div-title-reply {
  border: solid 2px white;
  border-radius: 1.25rem;
}

.topic-title {
  color: white;
  font: {
    family: $font-family;
    weight: bold;
    size: 2rem;
  }
}

.reply-button {
  @include button-style;
  background-color: $background-accent-color;
  color: $text-dark-color;
  border: 2px solid $background-dark-color;
  font-size: 1.5rem;

}

.list-topics-button {
  @include button-style;
  background-color: white;
  color: $text-dark-color;
  border: 2px solid $background-dark-color;
  font-size: 1.5rem;
}

.div-topic-reply {
  border: solid 2px white;
  border-radius: 2.1rem;
}

.div-img-profile {
  width: 4rem;
  height: 4rem;
}

.post-user-username {
  color: $text-light-color;
  font: {
    family: $font-family;
    weight: 500;
    size: 1.7rem;
  }
}

.post-date {
  color: $text-light-color;
  font: {
    family: $font-family;
    weight: 500;
    size: 1.7rem;
  }
}

.post-content {
  color: $text-light-color;
  font: {
    family: $font-family;
    weight: 400;
    size: 1.5rem;
  }
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;

}

.div-img-user-post {
  border-radius: 1rem;
}

.divider-user-message {
  background-color: white;
  border: 0;
  height: 0.2rem;
}

.divider-reply {
  background-color: $background-light-color;
  border: 0;
  height: 0.1rem;
  opacity: 1;
}

.button-update {
  @include button-style;
  background-color: #ffa500;
  color: $text-dark-color;
  border: 2px solid $background-dark-color;
  font-size: 1rem;
}

.button-delete {
  @include button-style;
  background-color: #ff0000;
  color: $text-dark-color;
  border: 2px solid $background-dark-color;
}

.no-reply {
  color: #a80707;
  font: {
    family: $font-family;
    weight: 500;
    size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .topic-title {
    font-size: 1.5rem;
  }
  .reply-button {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .post-date {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.6);
  }
  .post-content {
    font-size: 1rem;
  }
  .button-delete,
  .button-update {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}

