{% extends 'public/base.html.twig' %}

{% block title %}error 404{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}

<h1 style="font-size: 20rem; color: white; text-align: center; margin-top: 3rem; margin-bottom: 3rem">error 404</h1>



{% endblock %}
