{% extends 'public/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}
    <h1>voici ma page d'accueil</h1>
    <a href="{{ path('public_list_tutorials') }}">TUTO</a>
{% endblock %}
