{% extends 'public/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}

    <main>

        <h1>Ceci est mon main</h1>

    </main>

{% endblock %}