{% extends 'public/base.html.twig' %}

{% block title %}Perdu dans la géographie - Erreur 404{% endblock %}

{% block stylesheets %}
    <style>
        .error404 {
            font-size: 5rem;
            font-weight: bold;
            font-family: 'Montserrat';
            color: #ff0000;
        }

        .return-home {
            border-radius: 1rem;
            padding: 0.5rem 1.5rem;
            background-color: #04FF00;
            color: #20202AFF;
            border: 2px solid #20202AFF;
            box-shadow: 0 6px 0 rgba(0, 0, 0, 0.4);
            transition: all 0.15s ease-in-out;
            font-family: 'Montserrat';
            font-size: 1.5rem;
            font-weight: bold;
        }

        .return-home:hover {
            transform: translateY(2px);
            box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
        }

    </style>
{% endblock %}

{% block body %}
    <main style="height: 55vh" class="d-flex align-items-center justify-content-center">
        <div class="text-center mt-5 mb-5">
            <h1 class="error404 mt-5 mb-5">Erreur 403</h1>
            <p class="mt-4 mb-4">
                {% if status_code == 500 %}
                    Oups, une secousse tectonique interne s'est produite (réf géographique)
                {% elseif status_code == 503 %}
                    Ce continent est temporairement inaccessible. Revenez plus tard (réf géographique)
                {% elseif status_code == 400 %}
                    Mauvaise requête envoyée. Votre GPS semble déréglé (réf géographique)
                {% elseif status_code == 429 %}
                    Trop de requêtes. Ralentissez votre traversée numérique (réf géographique)
                {% else %}
                    Une erreur est survenue quelque part sur le globe... (réf géographique)
                {% endif %}
            </p>
            <a class="text-decoration-none return-home d-inline-block mb-5" href="{{ path('home') }}">Retour à l'accueil</a>
        </div>
    </main>
{% endblock %}
