{% extends 'public/base.html.twig' %}

{% block title %}Liste des topics{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}

    <h1>Liste des topics</h1>

    {% for topic in topics %}
        <h2>{{ topic.title }}</h2>
        <p>{{ topic.content }}</p>
        <p>Créé par {{ topic.user.username }}</p>
        <a href="{{ path('topic_show', {'id': topic.id}) }}">Voir le topic</a>
    {% endfor %}

{% endblock %}
