{% extends 'public/base.html.twig' %}

{% block title %}Topic{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}

    <h1>{{ topic.title }}</h1>
    <p>{{ topic.content }}</p>
    <p>Créé par {{ topic.user.username }}</p>
    <img src="{{ asset('uploads/forum/topics/' ~ topic.image) }}" alt="Image du topic">

{% endblock %}
